.panel_header{
    position: sticky;
    height: 5.5rem;
    padding: 0.8rem 1rem;
    top: 0rem;
    background-image: linear-gradient(to bottom, rgb(60, 60, 60), rgb(109, 78, 194));
    z-index: 5;

    a{
        height: 40px;
        width: 40px;
        picture{
            .company_logo{
                position: fixed;
                top: 0.2rem;
                left: 1rem;
                z-index: 2;
            }
            .shopCart_logo{
                position: fixed;
                top: 0.5rem;
                right: 1rem;
            }
        }
    }
    h1{
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        color: gold;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 0px 1px 4px black;
    }
    .menu_header{
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: -10px;
        border-radius: 15px;


        li{
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Open Sans', sans-serif;
            background-color: black;
            text-align: center;
            list-style-type: none;
            border-radius: 15px;

            a{
                margin: 0.5rem;
                color: gold;
                text-decoration-line: none;
            }&:hover{
                transition: 1s;
                transform: translateY(-1rem);
            }
        }
    }
}
